/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P';
    --font-weight-card-text: 410;
    --font-weight-card-tittle: 715;
    --bg-color: rgba(255, 255, 255, 1);
    --bg-image:
        repeating-linear-gradient(90deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(0deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
        linear-gradient(#e7e7e7 0.01%, #1a1a1a);
    --card-min-width: clamp(23.438rem, calc(16.285rem + 30.516vw), 43.75rem);
    --border: 2px solid rgba(0, 0, 0, 1);
    --text-stroke: rgba(255, 255, 255, 0.5);
    --button-color: rgba(255, 255, 255, 1);
    --contour-color: rgba(0, 0, 0, 1);
    --animation-fill-color: rgba(255, 0, 0, 1);
}

